
/* styles for both air and in browser version */

@namespace mx "library://ns.adobe.com/flex/mx";
@namespace "library://ns.adobe.com/flex/spark";


.logoText
{
    fontSize: 16;
    color:    #ffffff;      
}

mx|Tree
{
    color:              #ffffff;
    textSelectedColor:  #ffffff;
    textRollOverColor:  #ffffff;
    contentBackgroundColor: #333333;
    rollOverColor:      #0E7EC5;
    selectionColor:     #000000;    
}

.fileTileListStyle
{
    color:              #000000;
    backgroundColor:    #ffffff;
    contentBackgroundColor: #ffffff;
    rollOverColor:      #0E7EC5;
    selectionColor:     #bbbbbb;    
}

.fileGridStyle 
{          
    alternatingItemColors:  #ffffff, #eeeeee;               
    color:                  #000000; 
    selectionColor:         #666666;
    rollOverColor:          #0E7EC5; 
    vertical-grid-lines:    false;
    horizontalGridLineColor: #999999;
    horizontalGridLines:    true;
}

mx|MenuBar
{
    color:                  #0E9EE5;
    textRollOverColor:      #ffffff;
    textSelectedColor:      #ffffff;
    chromeColor:            #333333;
    contentBackgroundColor: #333333;    
    backgroundSkin:         ClassReference("org.integratedsemantics.flexspaces.skin.ListTransparentSkin");   
}

mx|Menu
{
    color:                  #ffffff;
    symbolColor:            #ffffff;
    disabledColor:          #bbbbbb;      
    textSelectedColor:      #ffffff;
    textRollOverColor:      #ffffff;
    chromeColor:            #333333;
    contentBackgroundColor: #333333;    
    rollOverColor:          #0E7EC5;
    selectionColor:         #000000;
    borderColor:            #333333;
}

.viewTab 
{
    color:                  #ffffff;
    /* upSkin:              ClassReference("org.integratedsemantics.flexspaces.skin.TabSkin"); */
    /* overSkin:            ClassReference("org.integratedsemantics.flexspaces.skin.TabSkin"); */  
    /* selectedUpSkin:      ClassReference("org.integratedsemantics.flexspaces.skin.TabSkin"); */ 
    /* selectedOverSkin:    ClassReference("org.integratedsemantics.flexspaces.skin.TabSkin"); */   
    /* tabBackgroundColors: #666666, #ffffff; */
    /* tabBackgroundAlphas: 0.0, 1.0; */    
    tabBackgroundColors:    #666666, #666666;
    tabBackgroundAlphas:    1.0, 1.0;       
}

.viewTabs
{
    backgroundColor:          #666666;    
    tabHeight:                35;
    horizontalGap:            0;  
    selectedTabTextStyleName: selectedTabText;
}

.selectedTabText
{
    fontSize:               10px;
    fontWeight:             normal;
    color:                  #ffffff;
} 

.tabCloseButtonStyleName
{
    color:              #ff0000;
    backgroundColor:    #000000;
}

.viewStyle
{
    backgroundColor:    #333333; 
}

.pageNumStyle
{
    color:  #ffffff;      
}

.itemsPerPageStyle
{
    color:  #ffffff;      
}

.pageSizeComboStyle
{
    color:              #ffffff;  
    symbolColor:        #ffffff; 
    selectionColor:     #000000;
    rollOverColor:      #0E7EC5; 
    contentBackgroundColor: #666666;
}

TextInput
{
    contentBackgroundColor: #ffffff;    
    color: #000000;
    borderStyle: solid;
    borderColor: #000000;
}  

TextArea
{
    contentBackgroundColor: #ffffff;
    color: #000000;
} 

mx|Accordion
{
    color:              #ffffff;
    chromeColor:        #333333;  
    backgroundColor:    #333333;    
}

mx|ProgressBar
{
    chromeColor:        #0E7EC5;
    trackSkin:          ClassReference("org.integratedsemantics.flexspaces.skin.ProgressBarTrackSkin2"); 
}

Button
{
    color:              #ffffff;
    textRollOverColor:  #ffffff; 
    textSelectedColor:  #ffffff;
    disabledColor:      #666666; 
    chromeColor:        #666666;        
}

mx|Button
{
    color:              #ffffff;
    textRollOverColor:  #ffffff; 
    textSelectedColor:  #ffffff;
    disabledColor:      #666666; 
    chromeColor:        #666666;        
}

TitleWindow
{
    symbolColor: #ffffff;
    chromeColor: #666666; 
    borderColor: #000000;
}

.breadCrumb
{
    crumbBackgroundColor: #333333;
    hoverBackgroundColor: #0E7EC5;
    crumbBackgroundAlpha: 1.0;
    hoverBackgroundAlpha: 1.0;
    padding: 1;
    cornerRadius: 14;
    textDecoration: "underline";
    fontSize: 11;
    color: #ffffff;    
}

.tagCloudStyle
{
    color:              #ffffff;
    backgroundColor: 	#333333;
    rollOverColor:      #0E7EC5;        
}

mx|Alert
{
    color:              #ffffff;
    borderColor:        #000000;
    backgroundColor:    #333333;
    chromeColor:        #666666;
}


