/* CSS file for Search form */

@namespace mx "library://ns.adobe.com/flex/mx";
@namespace "library://ns.adobe.com/flex/spark";

.search
{
   border-style:solid;
   border-thickness:0;
   border-color: #333333;
}

.advancedSeachLink
{
    color: #0E9EE5;
    rollOverColor: #0E7EC5;
    text-decoration: underline;
}
