/* CSS file for dialogs */

.dialog
{
    backgroundColor: #999999; 
    borderColor: #000000; 
    borderStyle: solid; 
    borderThickness: 3; 
    color: #000000; 
    cornerRadius: 0; 
    fontSize: 12; 
    fontWeight: bold; 
}

.mainArea
{
    borderColor: #999999;
    borderStyle: solid;
    borderThickness: 0;
    fontSize: 10;
}

.input
{
    color: #000000;
    borderStyle: solid;
    borderThickness: 1;
    borderColor: #000000;
}    

.combo
{
    color: #000000;
}

.list
{
    color: #000000;
    borderStyle: solid;
    borderThickness: 1;
    borderColor: #000000;
}

.buttonArea
{
    borderStyle: solid;
    borderThickness: 0;
    horizontalAlign: center;
}
