/* CSS file for logout form */

.logout
{
   border-style:solid;
   border-thickness:0;
   border-color:#FFFFFF;   
}

.logoutLink
{
	color: #0E9EE5;
    rollOverColor: #0E9EE5;
    text-decoration: underline;
}
